body {
  /* background: #f4f8fb; */
  font-family: "Inter", sans-serif;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 30px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.success-text {
  color: #91ff00;
  text-align: center;
  font-size: 22px;
  margin-bottom: 5px;
}

.loan-amount {
  font-size: 30px;
  font-weight: 700;
  color: #209bde;
  text-align: center;
  margin: 20px 0;
}

.loan-details,
.mpesa-info {
  margin-top: 20px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.cta-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #209bde, #0055aa);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 25px;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #003f80;
}
