.pwa-install-popup {
  display: none;
  position: fixed;
  top: 45%;
  left: 4%;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.pwa-popup-content {
  background: transparent;
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 20px transparent;
}

.pwa-popup-content img {
  width: 150px;
  height: 150px;
  margin: 1rem auto;
  display: block;
}


.gif-container img {
  max-width: 20%;
  height: auto;
  border-radius: 8px;
}

.form-wrapper {
  padding: 2rem;
}

.form-wrapper select,
.form-wrapper input,
.form-wrapper button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-wrapper button {
  background: linear-gradient(135deg, #00ff59, #206f83);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.note {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.disclaimer {
  font-size: 0.85rem;
  margin-top: 1rem;
  color: #555;
}

.left-content {
  padding: 2rem;
}

footer {
  padding: 1rem;
  text-align: center;
}
